
body {
  font-family: "Poppins", sans-serif;
  color: #970000;
}


h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: "Satisfy", sans-serif; 
}

.max-width-container{
  max-width: 1440px;
  margin: 0 auto;
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  top: 50px;
  height: 70px;
  z-index: 997;
  transition: all 0.5s;
  padding: 10px 0;
  background: rgba(26, 24, 22, 0.85);
}

#header.header-transparent {
  background: transparent;
}

/* menu které jde se zákazníkem*/ 
#header.header-scrolled {
  top: 0;
  background: #ffffff;
}

/* logo */ 
#header .logo {
  width: 19%;
  color: #970000;
}

#header .logo h1 a,
#header .logo h1 a:hover {
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}


/* text v meníčku*/
.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 24px;
  font-size: 15px;
  font-weight: bold;
  color: #970000;
  white-space: nowrap;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #970000;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 24px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/**
* Pro mobil menu 
*/
.mobile-nav-toggle {
  color: #970000;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.9);
  transition: 0.3s;
  z-index: 0;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 8px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

/* text */ 
.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #000000;
}

/* aktuální stránka */ 
.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #970000;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}


/* úvod */ 
#hlavni {
  width: 100%;
  height: 100vh;
  background-color: #000000;
  overflow: hidden;
  padding: 0;
}

#hlavni .carousel-item {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}



#hlavni .carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hlavni .carousel-content {
  text-align: center;
}

/*hlavni text - Bibimbob*/
#hlavni h2 span {
  color: #970000;
}

/* hlavní text restaurant*/ 
#hlavni h2 {
  color: #970000;
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 700;
}

/* text laska prochazi zaludkem*/ 
#hlavni p {
  width: 80%;
  font-weight: bold;
  margin: 0 auto 30px auto;
  color: #fff;
}

#hlavni .carousel-inner .carousel-item {
  transition-property: opacity;
  background-position: center ;
}

#hlavni .carousel-inner .carousel-item,
#hlavni .carousel-inner .active.carousel-item-start,
#hlavni .carousel-inner .active.carousel-item-end {
  opacity: 0;
}

#hlavni .carousel-inner .active,
#hlavni .carousel-inner .carousel-item-next.carousel-item-start,
#hlavni .carousel-inner .carousel-item-prev.carousel-item-end {
  opacity: 1;
  transition: 0.5s;
}

#hlavni .carousel-inner .carousel-item-next,
#hlavni .carousel-inner .carousel-item-prev,
#hlavni .carousel-inner .active.carousel-item-start,
#hlavni .carousel-inner .active.carousel-item-end {
  left: 0;
  transform: translate3d(0, 0, 0);
}


/* button menu a book table*/ 
#hlavni .btn-menu,
#hlavni .btn-book {
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: inline-block;
  padding: 12px 30px;
  border-radius: 50px;
  transition: 0.5s;
  line-height: 1;
  margin: 0 10px;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  color: #ffffff;
  border: 2px solid #970000;
}

/* po klinutí*/ 
#hlavni .btn-menu:hover,
#hlavni .btn-book:hover {
  background: #970000;
  color: #fff;
}

@media (max-width: 768px) {
  #hlavni h2 {
    font-size: 28px;
  }
}

@media (min-width: 1024px) {
  #hlavni p {
    width: 50%;
  }

  #hlavni .carousel-control-prev,
  #hlavni .carousel-control-next {
    width: 5%;
  }
}



/* Sekce */
section {
  padding: 60px 0;
}

.section-bg {
  background-color: white;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

/* nadpis u sekcí */ 
.section-title h2 {
  margin: 15px 0 0 0;
  font-size: 32px;
  font-weight: 700;
  color: #000000;
}



/* Menu */

.menu #menu-flters {
  padding: 0;
  margin: 0 auto 0 auto;
  list-style: none;
  text-align: center;
  border-radius: 50px;
}

.menu #menu-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 8px 12px 10px 12px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  color: #970000;
  margin-bottom: 10px;
  transition: all ease-in-out 0.3s;
  border-radius: 50px;
  font-family: "Poppins", serif;
}

/* tlačítko menu */ 
.menu #menu-flters li:hover,
.menu #menu-flters li.filter-active {
  color: #fff;
  background: #970000;
}

.menu #menu-flters li:last-child {
  margin-right: 0;
}


/* rámeček okolo fotky*/
.menu .menu-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  float: left;
  border: 5px solid #970000;
}

.menu .menu-content {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;

}

.menu .menu-content::after {
  content: "......................................................................""....................................................................""....................................................................";
  position: absolute;
  left: 20px;
  right: 0;
  top: -4px;
  z-index: 1;
  color: #dad8d4;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/* text*/ 
.menu .menu-content a {
  padding-right: 10px;
  background: #fff;
  position: relative;
  z-index: 3;
  font-weight: 700;
}

.menu .menu-content span {
  background: #ffffff;
  position: relative;
  z-index: 3;
  padding: 0 10px;
  font-weight: 600;
}


.menu .menu-item-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}
.menu .menu-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 16px 0;
}


/* dopolední*/ 

.dopolední {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px #970000;
  text-align: center;
}

.dopolední h2 {
  margin-bottom: 20px;
}

.dopolední ul {
  list-style-type: none;
  padding: 0;
}

.dopolední li {
  font-weight: 600;
  font-size: 18px;
  margin: 10px 0;
}




/* REZERVACE STOLU - Button */

/* tlačítko*/
.book-a-table-btn {
  background: #970000;
  color: #fff;
  border-radius: 50px;
  margin: 0 0 0 20px;
  padding: 10px 25px;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: 0.3s;
  white-space: nowrap;
}

/* při kliknutí*/
.book-a-table-btn:hover {
  background: #fff;
  color: #970000;
}

@media (max-width: 992px) {
  .book-a-table-btn {
    margin: 0 15px 0 0;
    padding: 8px 20px;
    letter-spacing: 1px;
  }
}

@media (max-width: 400px) {
  .book-a-table-btn {
    display: none;
  }
} 



/* Rezervace */
.book-a-table .email-form {
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
  padding: 30px;
  background: #fff;
}

.book-a-table .email-form .form-group {
  padding-bottom: 8px;
}

/* odeslat button */ 
.book-a-table .email-form button[type=reset] {
  background: #970000;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}

#success-message {
  background-color: #970000;
  padding: 20px;
  margin: 20px;
 
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px #00000060;

}

#super{ 
  color: #fff;
  text-align: center;

}

#upozorneni{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 10px;
}


/* Recenze */

/* pozadí*/ 
.testimonials-container {
  font-family: Arial, sans-serif;
  background-color: #970000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150%;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1000%;
  margin: 0 auto;
}

/* pozadí karet*/ 
.testimonial {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 200px;
  margin: 20px;
  text-align: center;
}

/* fotky */ 
.testimonial-photo {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 15px;
}

/* text recenze*/ 
.testimonial-text {
  font-size: 16px;
  color: #333;
  margin-bottom: 15px;
}

/* hvězdičky */
.stars {
  color: #f39c12;
  font-size: 20px;
}

/* Q&A pro zákazníky */ 

/* tabulka */
.faq {
  max-width: 350px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f7f7f7;
  border: 1px solid #891111;
  box-shadow: 0 0 10px #7a736877;
}

/* q&a text */ 
.faq h2 {
  margin-top: 0;
  font-weight: bold;
  color: #970000;
}

.faq ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.faq li {
  margin-bottom: 30px;
}

.faq h3 {
  font-weight: bold;
  color: #666;
  margin-top: 0;
}

.faq p {
  margin-bottom: 10px;
  color: #666;
}

/* Kde nás najít */

/* fade za tabulkou*/
.contact .info-wrap {
  box-shadow: 0px 2px 15px #4b4b4b3e;
  padding: 30px;
}

/* ikony*/ 
.contact .info i {
  font-size: 20px;
  color: #ffffff;
  float: left;
  width: 44px;
  height: 44px;
  background: #970000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}

/* nadpisy */ 
.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #000000;
  font-family: "Poppins", sans-serif;
}

/* text */
.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #7a7368;
}


/* Zápatí*/ 
#footer {
  background: #35322d;
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding: 30px 0;
}

/* text v zápatí*/ 
#footer h3 {
  font-size: 36px;
  font-weight: 700;
  color: #970000;
  position: relative;
  padding: 0;
  margin: 0 0 15px 0;
}

/* copyright*/
#footer .copyright {
  font-size: 15px;
  margin: 0 0 5px 0;
}
